@import 'tailwindcss';
@import 'tw-animate-css';

* {
    box-sizing: border-box;
}

html,
body {
    cursor: url('./assets/images/cursor/light/arrow.png'), auto;
}

a,
button {
    cursor: url('./assets/images/cursor/light/hand.png'), auto;
}

/* Root cursor variables */
:root {
    --scrollbar-thumb: url('./assets/images/cursor/light/arrow.png'), auto;
    --scrollbar-thumb-hover: url('./assets/images/cursor/light/hand.png'), auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #000;
    cursor: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / 20%); /* modern syntax instead of rgba */
    border-radius: 9999px;
    cursor: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    cursor: var(--scrollbar-thumb-hover);
}
